In [1]:
import pandas as pd

In [2]:
anime = pd.read_csv('data/anime.csv')
rating = pd.read_csv('data/rating.csv')

In [3]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
anime.shape

(12294, 7)

In [5]:
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [6]:
rating.shape

(7813737, 3)

In [7]:
rating = rating[rating.rating != -1]

In [8]:
rating.head()

     user_id  anime_id  rating
47         1      8074      10
81         1     11617      10
83         1     11757      10
101        1     15451      10
153        2     11771      10

In [9]:
anime.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [10]:
anime = anime.dropna().reset_index(drop = True)

In [11]:
anime.nunique()

anime_id    12017
name        12015
genre        3229
type            6
episodes      187
rating        598
members      6596
dtype: int64

In [12]:
anime['type'].value_counts()

TV         3668
OVA        3284
Movie      2259
Special    1670
ONA         648
Music       488
Name: type, dtype: int64

In [13]:
anime[anime['type'] == 'Music']

,anime_id,name,genre,type,episodes,rating,members
169,34240,Shelter,"Music, Sci-Fi",Music,1,8.38,71136
336,731,Interstella5555: The 5tory of The 5ecret 5tar ...,"Adventure, Drama, Music, Sci-Fi",Music,1,8.17,31464
533,17949,The Everlasting Guilty Crown,Music,Music,1,8.00,11663
1178,2768,CLAMP in Wonderland 2,"Action, Comedy, Drama, Fantasy, Magic, Music, ...",Music,1,7.64,13985
1267,9930,Snow Halation,Music,Music,1,7.61,8731
...,...,...,...,...,...,...,...
10760,33908,Yasoukyoku,Music,Music,1,5.14,82
10767,29970,Yell,Music,Music,1,5.46,55
10789,30169,Yubikiri,Music,Music,1,4.54,75
10793,31872,Yukidaruma Kazoku,"Kids, Music",Music,1,5.25,40
10807,32850,Yuu no Mahou,Music,Music,1,4.48,66

In [14]:
# dropping the music genre
anime = anime[anime.type != 'Music']
anime = anime[anime.genre != 'Hentai']

In [15]:
anime['genre'].value_counts()

Comedy                                                                          521
Kids                                                                            197
Comedy, Slice of Life                                                           174
Dementia                                                                        137
Fantasy, Kids                                                                   128
                                                                               ...
Action, Drama, Ecchi, Harem, Martial Arts, Military, Romance, Sci-Fi, Seinen      1
Adventure, Drama, Sci-Fi, Shounen                                                 1
Action, Comedy, Fantasy, Mystery, Shounen Ai, Supernatural, Vampire               1
Action, Comedy, Magic, Sci-Fi, Super Power                                        1
Hentai, Slice of Life                                                             1
Name: genre, Length: 3179, dtype: int64

In [16]:
anime.duplicated().sum()

0

In [17]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [18]:
anime['genre']

0                     Drama, Romance, School, Supernatural
1        Action, Adventure, Drama, Fantasy, Magic, Mili...
2        Action, Comedy, Historical, Parody, Samurai, S...
3                                         Sci-Fi, Thriller
4        Action, Comedy, Historical, Parody, Samurai, S...
                               ...
11996                           Comedy, Hentai, Historical
12000                               Comedy, Hentai, Parody
12001                               Comedy, Hentai, Parody
12004                                       Comedy, Hentai
12005                                Hentai, Slice of Life
Name: genre, Length: 10713, dtype: object

In [19]:
anime['Tags'] = anime['genre'] + ' ' + anime['type']

anime['Tags'] = anime['Tags'].apply(lambda x: x.replace(",",""))

In [20]:
anime['Tags'][0]

'Drama Romance School Supernatural Movie'

In [21]:
from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r'\w+')

anime['Tags'] = anime['Tags'].apply(lambda x : tokenizer.tokenize(x))

anime['Tags'] = anime['Tags'].apply(lambda x: " ".join(x))
anime['Tags'] = anime['Tags'].apply(lambda x: x.lower())

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 50,stop_words = 'english')

In [23]:
vectors = cv.fit_transform(anime['Tags']).toarray()

In [24]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)
similarity

array([[1.        , 0.15811388, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.15811388, 1.        , 0.35355339, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.35355339, 1.        , ..., 0.33333333, 0.19245009,
        0.        ],
       ...,
       [0.        , 0.        , 0.33333333, ..., 1.        , 0.8660254 ,
        0.5       ],
       [0.        , 0.        , 0.19245009, ..., 0.8660254 , 1.        ,
        0.57735027],
       [0.        , 0.        , 0.        , ..., 0.5       , 0.57735027,
        1.        ]])

In [26]:
def recommend(movie):
    if movie in anime['name']:
        print('yes')

In [27]:
anime['name'] = anime['name'].apply(lambda x : x.lower())

In [28]:
anime['name']

0                          kimi no na wa.
1        fullmetal alchemist: brotherhood
2                                gintama°
3                             steins;gate
4                           gintama&#039;
                       ...
11996                manga edo erobanashi
12000                           nudl nude
12001                         nudl nude 2
12004    original video romance animation
12005                     pink no curtain
Name: name, Length: 10713, dtype: object

In [29]:
anime['name'] = anime['name'].apply(lambda x : tokenizer.tokenize(x))

anime['name'] = anime['name'].apply(lambda x: " ".join(x))

In [30]:
anime['name']

0                           kimi no na wa
1         fullmetal alchemist brotherhood
2                                 gintama
3                             steins gate
4                             gintama 039
                       ...
11996                manga edo erobanashi
12000                           nudl nude
12001                         nudl nude 2
12004    original video romance animation
12005                     pink no curtain
Name: name, Length: 10713, dtype: object

In [140]:
def recommend(movie):
    rec_index = []
    movie_index = anime[anime['name'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[movie_index])),reverse = True,key = lambda x: x[1])
    indexes = distances[1:6]
    for i in indexes:
        print(anime.iloc[i[0]]['name'])

In [145]:
recommend('gintama')

gintama 039
gintama 039 enchousen
gintama
gintama movie kanketsu hen yorozuya yo eien nare
gintama yorinuki gintama san on theater 2d

In [139]:
anime.iloc[719]['name']

'danganronpa 3 the end of kibougamine gakuen mirai hen'

In [131]:
anime

,anime_id,name,genre,type,episodes,rating,members,Tags
0,32281,kimi no na wa,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,drama romance school supernatural movie
1,5114,fullmetal alchemist brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,action adventure drama fantasy magic military ...
2,28977,gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,action comedy historical parody samurai sci fi...
3,9253,steins gate,"Sci-Fi, Thriller",TV,24,9.17,673572,sci fi thriller tv
4,9969,gintama 039,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,action comedy historical parody samurai sci fi...
...,...,...,...,...,...,...,...,...
11996,23677,manga edo erobanashi,"Comedy, Hentai, Historical",OVA,5,2.86,111,comedy hentai historical ova
12000,18197,nudl nude,"Comedy, Hentai, Parody",OVA,1,4.14,186,comedy hentai parody ova
12001,18199,nudl nude 2,"Comedy, Hentai, Parody",OVA,1,4.00,146,comedy hentai parody ova
12004,12397,original video romance animation,"Comedy, Hentai",OVA,2,4.66,176,comedy hentai ova
12005,17833,pink no curtain,"Hentai, Slice of Life",OVA,1,3.61,138,hentai slice of life ova

1108
207
1485
1947
60