In [1]:
import pandas as pd

In [2]:
anime = pd.read_csv('data/anime.csv')

In [3]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
anime.isna().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [5]:
anime.dropna(inplace = True)

In [6]:
anime['tags'] = anime['genre'] + ' '  + anime['type']
anime = anime[anime.type != 'Music']

In [7]:
anime = anime[anime['tags'].str.contains('Hentai') == False]

In [8]:
anime.tags[1]

'Action, Adventure, Drama, Fantasy, Magic, Military, Shounen TV'

In [9]:
from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r'\w+')

In [10]:
def clean(data):

    data = tokenizer.tokenize(data)
    data = " ".join(data).lower()
    
    return data

In [11]:
anime['tags'] = anime['tags'].apply(clean)

anime['name'] = anime['name'].apply(clean)

In [12]:
anime.tags

0                  drama romance school supernatural movie
1        action adventure drama fantasy magic military ...
2        action comedy historical parody samurai sci fi...
3                                       sci fi thriller tv
4        action comedy historical parody samurai sci fi...
                               ...
12128                                       ecchi yuri ova
12193    action horror sci fi supernatural vampire yaoi...
12203                               drama romance yaoi ova
12207                                             yaoi ova
12214                         action comedy ecchi yuri ona
Name: tags, Length: 10396, dtype: object

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words = 'english',max_features = 50)

In [14]:
vectors = cv.fit_transform(anime['tags']).toarray()

In [15]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [16]:
import requests

def recommend(movie):
    names = []
    posters = []
    
    movie_index = anime[anime['name'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[movie_index])),reverse = True,key = lambda x: x[1])
    indexes = distances[1:6]
    for i in indexes:
        names.append(anime.iloc[i[0]]['name'])
        anime_id = anime.iloc[i[0]]['anime_id']
        poster = get_posters(anime_id)
        posters.append(poster)
    return names,posters
    
def get_posters(anime_id):
    response = requests.get(f'https://api.jikan.moe/v4/anime/{anime_id}/full')
    data = response.json()
    return data['data']['synopsis']

In [17]:
get_posters(719)

'On the planet Amoi, a person\'s status is primarily dictated by the color of their hair. This society is run by the AI supercomputer known as Jupiter and its governing board of perfect blondes, referred to as Blondies, living in the capital city of Tanagura. However, the darker-haired humans live out their lives in the golden "pleasure city" of Midas and its outlying slum Ceres. They are known as "mongrels," and most cannot progress out of the slums. Three years ago, a boy named Riki disappeared from the slums of Ceres. Once the revered leader of the gang Bison, a sudden encounter with an elite Blondie, Iason Mink, forced Riki to abandon everything he had cultivated. The boy was snatched from his home and forced to become Iason\'s pet. Riki has spent the past three years enduring numerous blows to his pride, his time in Tanagura nothing but a form of torture. Now that Riki has returned, Bison once again rallies behind him. The risk he finds himself in, however, is much greater than ever before—there is always someone ready to sell him out. [Written by MAL Rewrite]'

In [18]:
def get_anime_data(anime_id):
    response = requests.get(f'https://api.jikan.moe/v4/anime/{anime_id}/full')
    data = response.json()
    posters = data['data']['images']['webp']['image_url']
    type = data['data']['type']
    episodes = data['data']['episodes']
    status = data['data']['status']
    new =  data['data']['genres']
    genres = [data['name'] for data in new]


    return posters,type,episodes,status,",".join(genres)

In [19]:
def recommend(name):
    names,posters,types,episodes,statuses,genres = ([] for i in range(6))

    movie_index = anime[anime['name'] == name].index[0]
    distances = sorted(list(enumerate(similarity[movie_index])), reverse=True, key=lambda x: x[1])
    indexes = distances[1:6]
    for i in indexes:
        names.append(anime.iloc[i[0]]['name'])
        anime_id = anime.iloc[i[0]]['anime_id']
        poster,type,episode,status,genre = get_anime_data(anime_id)
        posters.append(poster)
        types.append(type)
        episodes.append(episode)
        statuses.append(status)
        genres.append(genre)

    return names, posters, types, episodes, statuses, genres

In [20]:
names,posters,types,episodes,status,genres = recommend('naruto')

In [21]:
names

['trava fist planet',
 'twin signal family game',
 'rokushin gattai godmars juunanasai no densetsu',
 'sailor victory',
 'ariel deluxe']

In [22]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members,tags
0,32281,kimi no na wa,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,drama romance school supernatural movie
1,5114,fullmetal alchemist brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,action adventure drama fantasy magic military ...
2,28977,gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,action comedy historical parody samurai sci fi...
3,9253,steins gate,"Sci-Fi, Thriller",TV,24,9.17,673572,sci fi thriller tv
4,9969,gintama 039,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,action comedy historical parody samurai sci fi...

In [23]:
anime['new'] = anime['genre'].values+ anime['type'].values

In [24]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members,tags,new
0,32281,kimi no na wa,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,drama romance school supernatural movie,"Drama, Romance, School, SupernaturalMovie"
1,5114,fullmetal alchemist brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,action adventure drama fantasy magic military ...,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
2,28977,gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,action comedy historical parody samurai sci fi...,"Action, Comedy, Historical, Parody, Samurai, S..."
3,9253,steins gate,"Sci-Fi, Thriller",TV,24,9.17,673572,sci fi thriller tv,"Sci-Fi, ThrillerTV"
4,9969,gintama 039,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,action comedy historical parody samurai sci fi...,"Action, Comedy, Historical, Parody, Samurai, S..."

In [28]:
anime['genre'].astype(str)+anime['type'].astype()

AttributeError: 'builtin_function_or_method' object has no attribute 'is_unique'